DISCORD_TOKEN=https://discord.com/api/webhooks/1534939063587438778/mJ6vf5xPeDjn6zpZ9IsJoXBHTI-vf63Wuy2LV_CHazmEkTiQtBuMksMn-HwMOjgJ2Qhd
# Optional: GUILD_ID=1234567890  (for faster slash command sync during dev)
POLL_INTERVAL=15
